

.title{
  font-size: 16px;
  font-weight: bold;
}

.summary{
  font-weight: 300;
  font size: 12px;
}

span{
  padding-top: : 20px;
}

.style{
  font-size: 12px;
  font-weight: 300;
}

img.img-rounded{
  float: right;
  max-width:50px;
  max-height:50px;
}

.title, .summary, .date {

}

.news-articles{
  overflow-y:scroll;
  height:650px;
  padding-right: 10px;

}

.right-btn{
  float: right;
  background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor:pointer;
overflow: hidden;
outline:none;
}
